.landing_page {
    width: 100vw;
    height: 100vh;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.landing_page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EDFEFF;
    height: 60vh;
    width: 100vw;
}

h1 {
    font-weight: 600;
    width: 50%;
    font-size: 40px;
    text-align: center;
}

.landing_page_container>img {
    margin-top: -120px;

}